[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
opencv-contrib-python = "*"
numpy = "*"
Jinja2 = ">=2.10.1"
numba = "0.53.1"
opencv-python-headless = "4.2.0.32"
pygame = "2.0.0"
pyTelegramBotAPI = "3.7.4"
requests = "2.25.0"

[dev-packages]

[requires]
python_version = "3.9"
